body{
    margin: 0;
    padding: 90px 20px 0;
}
.jakelin{
    background-color: rgb(222, 178, 240);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu-link {
    color: rgba(155, 153, 153, 0.596);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 9px;
}
.logos {
    width: 6em;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;    
}
.menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;    
}

.menu-link:hover {
    background-color: rgb(223, 83, 160);
    transition: 0.5s;
}
.icono {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

@media(max-width: 768px) {
    body{
        padding-top: 70px;
    }
    .jakelin{
        background-color: rgb(196, 59, 250);
        height: 80px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .logos {
        width: 5em;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #e9e9e9; 
        position: fixed; 
        left: 0;
        top:60px;
        width: 100%; 
        padding: 20px 0; 
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.4s;
    }
    .menu-item {
        line-height: 80px;    
    }
    .icono{
        display: block;
    }
    .menu-visible{
        left: 0;
    }

}